@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
header {
  display: flex;
  min-height: 3rem;
  align-items: center;
  max-width: 70%;
  margin: 1.5rem auto 1.5rem auto;
  flex-wrap: wrap;
  padding: 0 1rem 0 1rem;
}
.brand {
  display: flex;
  flex: 1;
}
.brand .brandLogo {
  width: 50px;
  height: 80px;
}
.brand img {
  width: 100%;
  height: 100%;
}
.brandName {
  margin-left: 0.5rem;
  color: gray;
  display: flex;
  align-items: center;
}
nav {
  flex: 2;
}
nav .items {
  display: flex;
  justify-content: space-between;
}
nav .items .navlinks,
nav .items .navlinks a {
  padding-left: 1rem;
  color: black;
}
section.sec_one {
  width: 100%;
  height: 18rem;
  margin-bottom: 4rem;
}
.outframe {
  width: 98%;
  background-color: rgb(2, 63, 17);
  margin: auto;
  position: relative;
}
section.sec_one article {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
article .main {
  width: 15rem;
  height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
}
article .main .title {
  font-size: 2rem;
  color: yellow;
}
article .main .location,
article .main .description {
  color: white;
}

article .main button {
  text-align: center;
  width: 10rem;
  padding: 0.8rem;
  border-radius: 1rem;
  background-color: goldenrod;
  color: black;
  border: none;
}
section .outframe .image {
  width: 15rem;
  height: 15rem;
  position: absolute;
  bottom: -15%;
  left: 67%;
}
section .outframe img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
section.sec_two header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 0 1rem 0 1rem;
}
section.sec_two header h3 {
  font-size: 3rem;
}
section.sec_two header button {
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 1rem;
  background-color: goldenrod;
  color: black;
  border: none;
}
.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.product {
  width: 18rem;
  height: 25rem;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(238, 238, 238);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-bottom: 1rem;
}
.product_img {
  width: 18rem;
}
.product_img img {
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.product_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
}
.product_title .title_price {
  color: goldenrod;
}
.product_description {
  font-size: 0.8rem;
  color: gray;
  padding: 0 1rem 0 1rem;
}
.order_tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0 1rem 0 1rem;
}
.order_tab span {
  font-size: 2rem;
}
.fter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 2rem 0;
  font-weight: bold;
  font-size: 1rem;
  color: gray;
  background-color: rgb(238, 238, 238);
  padding: 1rem;
}
.testimonials {
  width: 100vw;
}
.testimonialsmain {
  margin-top: 1rem;
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0 0 1rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.testimonial {
  padding: 1rem;
  margin-bottom: 1rem;
}
.testimonialheading {
  text-align: center;
  padding: 0.5rem;
}
.testimonialsmain {
}
section.testimonials article {
  width: 200px;
  height: 200px;
  background-color: white;
}
.testimonials .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec_one .aboutmain {
  background-color: white;
}
.sec_one .main .abouttitle,
.sec_one .main .aboutlocation,
.sec_one .main .aboutdescription {
  color: black;
}
.sec_one .aboutimage {
  width: 15rem;
  height: 15rem;
  position: absolute;
  top: 1.5rem;
  left: 60rem;
}
.sec_one .aboutimage img {
  width: 15rem;
  height: 15rem;
}
